* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --red: hsl(4, 100%, 67%);
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%,58%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Roboto', monospace;
    font-style: normal;
    display: flex;
    justify-content: center;
    min-height: 100dvh;
    background: var(--blue-700);
}

.newsletter-card {
    background: var(--white);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.newsletter-illustration img{
    width: 100%;
    display: block;
}

.newsletter-content {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    padding: 0em 1.5em;
}

.newsletter-content h1 {
    font-size: 2.5rem;
    color: var(--blue-800);
}

.newsletter-content p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--blue-800);
}

.newsletter-content ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1em;
    padding-bottom: 0.5em;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--blue-800);
}

.newsletter-content ul li img {
    padding-top: 2.5px;
}

#newsletter-email-form {
    display: flex;
    flex-direction: column;
}

#newsletter-email-form label {
    font-size: 0.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#email{
    padding: 1em 1.5em;
    color: var(--grey);
    cursor: text;
    border: 1px solid var(--grey);
    border-radius: 7px;
    font-size: 1rem;
}

#submit-button {
    margin: 1.5rem 0rem;    
    background: var(--blue-800);
    color: var(--white);
    padding: 1rem;
    font-size: 0.95rem;
    font-weight: 700;
    border-radius: 7px;
}

/* TABLET & DESKTOP */

@media only screen and (min-width: 26.5625em) {
    
    .newsletter-illustration img{
        padding: 1.5em 1.5em 0em 1.5em;
    }
}

@media only screen and (min-width: 48em) {
    
    body {
        align-items: center;
    }

    .newsletter-illustration img{
        padding: 0em;
    }

    .newsletter-card {
        max-width: 54em;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding: 1.5em;
        gap: 0em;
    }

    .newsletter-content {
        gap: 1em;
        padding: 0em 3.5em 0em 2em;
    }

    .newsletter-content h1{
        font-size: 3.5rem;
    }

    #newsletter-email-form label{
        margin-top: 0.5rem;
    }

    #submit-button{
        margin: 1.5rem 0rem 0rem 0rem; 
    }

}

/* JS TOGGLE */

.hidden {
    display: none;
}